# Dependencies
node_modules/

# Build
dist/
dist-ssr/
build/
coverage/

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local files
*.local

# Frontend
.vite/
.cache/

# Backend
uploads/
temp/
tmp/

# Database
*.db
*.sqlite
*.sqlite3

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
Desktop.ini

# Testing
.nyc_output/

# Misc
*.tgz
*.tar.gz